<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
               http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<context:property-placeholder location="classpath*:maven.properties" />

	<util:properties id="opensrp" location="classpath:/opensrp.properties" />

	<context:annotation-config  />
	<context:component-scan base-package="org.opensrp.migrations" />

	<task:scheduler id="applicationScheduler" pool-size="10" />
	<task:scheduled-tasks
		scheduler="applicationScheduler">
		<!-- <task:scheduled ref="formSubmissionListener" method="parseForms"
			fixed-delay="180000" /> -->
		<task:scheduled ref="eventsListener"
			method="processEvent"
			fixed-delay="${schedule.event.add.serverVersion.interval}" />
		<!--<task:scheduled ref="openmrsAtomfeedListener" method="syncAtomfeeds" -->
		<!--fixed-delay="900000" /> -->
	</task:scheduled-tasks>

	<beans profile="openmrs-sync">
		<task:scheduled-tasks
			scheduler="applicationScheduler">
			<task:scheduled ref="openmrsSyncerListener"
				method="pushToOpenMRS"
				fixed-delay="${schedule.openmrs.sync.interval}" />
			<task:scheduled ref="openmrsValidateDataSync"
				method="syncToOpenMRS"
				fixed-delay="${schedule.openmrs.validate.interval}" />
		</task:scheduled-tasks>
	</beans>

	<beans profile="dhis2-sync">
		<task:scheduled-tasks
			scheduler="applicationScheduler">
			<task:scheduled ref="DHIS2DatasetPush"
				method="pushToDHIS2" fixed-delay="${schedule.dhis2.sync.interval}" />
			</task:scheduled-tasks>
	</beans>

	<beans profile="postgres">
		<import resource="persistence_postgres.xml" />
	</beans>

	<beans profile="plan-generation">
		<task:scheduled-tasks scheduler="applicationScheduler">
			<task:scheduled ref="planResource"
							method="generateCaseTriggeredPlans"
							cron="${schedule.plan.generate.cron:0 0/5 * * * *}" />
		</task:scheduled-tasks>
	</beans>

	<beans>
		<task:scheduled-tasks scheduler="applicationScheduler">
			<task:scheduled ref="healthCheckMetricUpdater"
							method="updateHealthStatusMetrics"
							cron="#{opensrp['metrics.health_check_updater.cron'] ?: '0 0/1 * * * *'}" />
		</task:scheduled-tasks>
	</beans>

	<beans profile="district-report">
		<task:scheduled-tasks scheduler="applicationScheduler">
			<task:scheduled ref="reportResource"
							method="generateMonthlyDistrictReports"
							cron="#{opensrp['schedule.report.generate.cron'] ?: '0 0 2 5 * *'}" />
		</task:scheduled-tasks>
	</beans>

</beans>
